.footer {
  &__container {
    padding: 3.6rem 7.2rem;
    background-color: var(--color-light-grey);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-offset);
    border-radius: 4.8rem;
    margin-bottom: 1.6rem;

    @include mq(md) {
      display: block;
      padding: 2.4rem 2rem;
      border-radius: 3.2rem;
    }
  }

  &__section {
    display: flex;
    align-items: flex-start;

    &:nth-child(1) {
      grid-column: 3 span;

      @include mq(md) {
        margin-bottom: 5rem;
      }
    }

    &:nth-child(2) {
      grid-column: 9 span;
      gap: 7rem;

      @include mq(lg) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 5rem;
      }

      @include mq(md) {
        display: flex;
        flex-direction: column;
        gap: 5rem;
      }
    }

    @include mq(md) {
      display: block;
    }
  }

  &__list {
    font: var(--font-links450);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq(lg) {
      grid-column: 3 span;

      &:nth-child(1) {
        grid-column: 6 span;
      }
    }

    @include mq(sm) {
      font: var(--font-links);
    }
  }

  &__list-wrapper {
    display: flex;
    gap: 3.3rem;
    flex-shrink: 0;

    @include mq(lg) {
      grid-column: 3 span;
    }
  }

  &__item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    &--label {
      color: var(--color-dark-grey);
      margin-bottom: 1.2rem;
    }

    &--offset {
      margin-bottom: 1.6rem;
    }
  }

  &__payment-info {
    display: flex;
    gap: 3.2rem;
    font: var(--font-text-14);
    color: var(--color-dark-grey);

    @include mq(sm) {
      font: var(--font-text-12);
    }
  }
}
