.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 123;
  width: 100%;
  padding-top: 1.6rem;

  &__container {
    position: relative;
    background-color: var(--color-light-grey);
    border-radius: 4.8rem;
    padding: 2.5rem 7.2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-offset);
    height: var(--header-height);

    @include mq(lg) {
      display: flex;
    }

    @include mq(md) {
      border-radius: 3.2rem;
      padding: 2rem;
      gap: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 7.2rem;
    transform: translateY(-50%);

    @include mq(lg) {
      position: static;
      transform: none;
    }
  }

  &__section {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      grid-column: 3 span;
    }

    &:nth-child(2) {
      grid-column: 9 span;

      @include mq(lg) {
        flex-grow: 1;
        margin-left: 3.4rem;
      }
    }
  }

  &__link {
    color: var(--color-green);
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    font: var(--font-text-16med);

    .icon {
      fill: none;
      stroke: currentColor;
      stroke-width: 1.4px;
      width: 1.6rem;
      height: 1.6rem;
    }

    @include mq(md) {
      font: var(--font-text-10med);
      gap: 0.4rem;

      .icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  &__nav {
    margin-left: auto;

    @include mq(lg) {
      display: none;
    }
  }

  &__tel {
    margin-left: 8.3rem;
    font: var(--font-links500);
    color: var(--color-dark-grey);

    @include mq(lg) {
      display: none;
    }
  }

  &__btn {
    display: inline-flex;
    gap: 0.8rem;
    margin-left: 4.8rem;
    font: var(--font-links500);
    color: var(--color-green);

    @include mq(lg) {
      display: none;
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: none;
      stroke: currentColor;
      stroke-width: 1.5px;
    }
  }

  &__burger {
    display: none;
    margin-left: auto;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--color-black);

    .icon {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: currentColor;
      stroke-width: 1.4px;
    }

    @include mq(lg) {
      display: flex;
    }

    @include mq(sm) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
