.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 123;
  width: 100%;
  padding-top: 1.6rem;

  &__container {
    position: relative;
    background-color: var(--color-white);
    border-radius: 4.8rem;
    padding: 2.4rem 4.8rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-offset);
    height: var(--header-height);

    @include mq(lg) {
      display: flex;
    }

    @include mq(md) {
      border-radius: 3.2rem;
      padding: 2rem;
      gap: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 7.2rem;
    transform: translateY(-50%);

    @include mq(lg) {
      position: static;
      transform: none;

      position: relative;
      top: auto;
      left: auto;
      z-index: 50;
    }
  }

  &__section {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      grid-column: 3 span;
    }

    &:nth-child(2) {
      grid-column: 9 span;

      @include mq(lg) {
        flex-grow: 1;
        margin-left: 3.4rem;
      }
    }
  }

  &__link {
    color: var(--color-green);
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    font: var(--font-text-16med);
    position: relative;
    z-index: 50;
    .icon {
      fill: none;
      stroke: currentColor;
      stroke-width: 1.4px;
      width: 1.6rem;
      height: 1.6rem;
    }

    @include mq(md) {
      font: var(--font-text-10med);
      gap: 0.4rem;

      .icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  &__nav {
    margin-left: auto;
  }

  &__tel {
    margin-left: 18.8rem;
    font: var(--font-links500);
    color: var(--color-dark-grey);

    @include mq(lg) {
      margin: 0;
      margin-top: 4rem;
      display: block;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 115%;

      color: #9f9f9f;

      &:link,
      &:visited {
        color: #9f9f9f;
      }
    }
  }

  &__btn {
    display: inline-flex;
    gap: 0.8rem;
    margin-left: 4.8rem;
    font: var(--font-links500);
    color: var(--color-green);

    @include mq(lg) {
      display: none;
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: none;
      stroke: currentColor;
      stroke-width: 1.5px;
    }
  }

  &__burger {
    display: none;
    margin-left: auto;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    position: relative;
    top: auto;
    left: auto;
    z-index: 50;
    flex-direction: column;
    gap: 3px;
    transform: scale(1.2);
    .icon {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: currentColor;
      stroke-width: 1.4px;
    }

    span {
      width: 14px;
      border-radius: 5px;
      height: 1px;
      background-color: var(--color-black);
      transition: opacity 0.2s, transform 0.2s;
    }

    .burger-open & {
      span {
        &:nth-child(1) {
          transform: translateY(4px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-4px) rotate(-45deg);
        }
      }
    }

    @include mq(lg) {
      display: flex;
    }

    @include mq(sm) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &--variant--grey {
    .header__container {
      background-color: var(--color-light-grey);
    }
  }
}

.header__mobile-menu {
  display: contents;

  @include mq(lg) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 4.8rem;
    padding-top: 9rem;
    display: block;
    z-index: 40;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    .burger-open & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }

  @include mq(md) {
    border-radius: 3.2rem;
  }
}

.header--variant--grey .header__mobile-menu {
  @include mq(lg) {
    background-color: var(--color-light-grey);
  }
}
