.social-links {
  display: flex;
  gap: 8px;

  &__item {
  }

  &__item-link {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light-grey);
    color: var(--color-black);
    border-radius: 50%;
    transition: color var(--transition);

    .icon {
      width: 1.6rem;
      height: 1.6rem;
    }

    &:hover {
      color: var(--color-green);
    }
  }

  &--variant--green {
    .social-links__item-link {
      background-color: var(--color-white);
      border: 1px solid var(--color-brown-alpha15);
      color: var(--color-green);

      &:hover {
        color: var(--color-dark);
      }
    }
  }
}
