.projects-intro {
  display: flex;
  height: 64rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 4.8rem;
  background-image: url("../images/projects-intro-layer.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding-right: 7rem;
  overflow: hidden;

  @include mq(lg) {
    flex-direction: column;
    height: auto;
    padding: 6.4rem 7.2rem;
  }

  @include mq(md) {
    padding: 2rem;
    border-radius: 3.2rem;
    background-image: none;
  }

  &__container {
    margin-bottom: 4rem;
  }

  &__info {
    padding: 5.4rem 3rem 5.4rem 4.8rem;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include mq(lg) {
      padding: 0;
      margin-bottom: 7rem;
    }
  }

  &__heading {
    font: var(--font-h1);
    max-width: 81rem;

    span,b,strong {
      color: var(--color-white-alpha50);
    }

    @include mq(lg) {
      margin-bottom: 4rem;
    }

    @include mq(md) {
      font: var(--font-h2);
    }

    @include mq(sm) {
      font: var(--font-h1);

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__heading-imgs {
    display: inline-flex;
    gap: 0.3rem;
  }

  &__text {
    margin-top: auto;
    max-width: 52rem;
  }

  &__sliders {
    display: flex;
    gap: var(--grid-offset);
    margin-left: auto;

    picture {
      display: block;
    }

    img {
      border-radius: 1.6rem;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mq(sm) {
        border-radius: 1.2rem;
      }
    }

    @include mq(lg) {
      flex-direction: column;
    }
  }

  &__slider {
    overflow: visible;
  }

  &__slide {
    width: 26rem;
    height: 33.5rem;

    @include mq(sm) {
      width: 10.8rem;
      height: 14rem;
    }
  }
}
