.projects-list {
  margin-bottom: var(--grid-offset);
  overflow: hidden;

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.2rem;
  }

  &__load-button {
    margin-top: var(--grid-offset);
  }

  &__projects-page {
    margin-bottom: 6rem;
  }
}
