@font-face {
  font-weight: 300;
  font-family: SuisseIntl;
  font-style: normal;
  font-display: swap;
  src:
    local("SuisseIntl"),
    local("SuisseIntl-Light"),
    url("../fonts/SuisseIntl-Light.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Light.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: SuisseIntl;
  font-style: normal;
  font-display: swap;
  src:
    local("SuisseIntl"),
    local("SuisseIntl-Regular"),
    url("../fonts/SuisseIntl-Regular.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Regular.woff") format("woff");
}

@font-face {
  font-weight: 450;
  font-family: SuisseIntl;
  font-style: normal;
  font-display: swap;
  src:
    local("SuisseIntl"),
    local("SuisseIntl-Book"),
    url("../fonts/SuisseIntl-Book.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Book.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: SuisseIntl;
  font-style: normal;
  font-display: swap;
  src:
    local("SuisseIntl"),
    local("SuisseIntl-Medium"),
    url("../fonts/SuisseIntl-Medium.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Medium.woff") format("woff");
}
