mixin cards-list-mobile()
  .cards-columns-mobile
    +card-image({
      img: 'card-image-girl.jpg',
      content: 'Тэг с иконкой',
      title: 'Ремонт и оснащение классов химии, физики, информатики и биологии',
      text: 'В первый день зимы, 1 декабря 2022 года, в стенах' +
        'нашего Дворца культуры прошел Всероссийский фестиваль интегрального' +
        'творчества для людей с ограниченными возможностями здоровья — «ЛУЧ — 2022.',
      btnLabel: 'Подробнее о проекте',
      tagLabel: 'Образование и наука'
    })
    +card-dark({
      content: 'Тэг с иконкой',
      title: 'Инклюзивная танцевальная школа Рубаха',
      text: 'В первый день зимы, 1 декабря 2022 года, в стенах' +
        'нашего Дворца культуры прошел Всероссийский фестиваль интегрального' +
        'творчества для людей с ограниченными возможностями здоровья — «ЛУЧ — 2022.',
      btnLabel: 'Подробнее о проекте',
      tagLabel: 'Культура',
      btnType: 'default-outline'
    })
    +card-image({
      img: 'cat.jpg',
      content: 'Тэг с иконкой',
      title: 'Формирование сообщества (приюта) передержки бездомных животных',
      text: 'В первый день зимы, 1 декабря 2022 года, в стенах' +
        'нашего Дворца культуры прошел Всероссийский фестиваль интегрального' +
        'творчества для людей с ограниченными возможностями здоровья — «ЛУЧ — 2022.',
      btnLabel: 'Подробнее о проекте',
      tagLabel: 'Развитие территорий и экология'
    })
    +card-dark({
      content: 'Тэг с иконкой',
      title: 'Центр досуга для инвалидов Мечта',
      text: 'В первый день зимы, 1 декабря 2022 года, в стенах' +
        'нашего Дворца культуры прошел Всероссийский фестиваль интегрального' +
        'творчества для людей с ограниченными возможностями здоровья — «ЛУЧ — 2022.',
      btnLabel: 'Подробнее о проекте',
      tagLabel: 'Развитие территорий и экология'
    })
    +card-dark({
      content: 'Тэг с иконкой',
      title: 'Капитальный ремонт здания медицинской организации',
      text: 'Проведение капитального ремонта здания медицинской организации' +
        'способствует улучшению условий работы персонала, создает комфортную' +
        'обстановку для пациентов и способствует повышению престижа учреждения.',
      btnLabel: 'Подробнее о проекте',
      tagLabel: 'Здравоохранение и спорт',
      size: 'medium'
    })
