mixin header()
  header.header
    .site-container
      .header__container
        .header__section
          +logo().header__logo
        .header__section
          a.header__link(href='./' data-green)
            +icon-mono('verificated')(width='16' height='16')
            | Гранты ПАО «Татнефть»
          nav.header__nav.nav
            ul.nav__list
              li.nav__item
                a.nav__link(href='./projects.html' data-link) Проекты
              li.nav__item
                a.nav__link(href='./' data-link) Контакты
              li.nav__item
                a.nav__link(href='./' data-link) О конкурсах
          a(href='tel:+7 (8553) 37-36-89' data-grey class='header__tel') +7 (8553) 37-36-89
          a.header__btn(href='./' data-green)
            | Вход
            +icon-mono('logout')(width='22' height='22')
          button.header__burger
            +icon-mono('burger')(width='20' height='20')
