mixin social-links()
  ul.social-links
    li.social-links__item
      a(href="./" target="_blank").social-links__item-link
        +icon-mono('yt')(width="16" height="16")
    li.social-links__item
      a(href="./" target="_blank").social-links__item-link
        +icon-mono('vk')(width="16" height="16")
