mixin ui-pagination(options)
  .ui-pagination
    .ui-pagination__item.ui-pagination__item--variant--btn.ui-pagination__item--variant--is-prev
      +icon-mono('arrrow-shevron')(width="24" height="24")
    .ui-pagination__item.ui-pagination__item--is-active 1
    .ui-pagination__item 2
    .ui-pagination__item ...
    .ui-pagination__item 9
    .ui-pagination__item 58
    .ui-pagination__item.ui-pagination__item--variant--btn.ui-pagination__item--variant--is-next
      +icon-mono('arrrow-shevron')(width="24" height="24")

