mixin ui-slider-nav(options)
  .ui-slider-nav&attributes(attributes)
    button.ui-slider-nav__btn.ui-slider-nav__btn--prev(type="button")
      +icon-mono('arrrow-shevron')(width="24" height="24" class="ui-slider-nav__btn-icon")
    button.ui-slider-nav__btn.ui-slider-nav__btn--next(type="button")
      +icon-mono('arrrow-shevron')(width="24" height="24" class="ui-slider-nav__btn-icon")
