extends layout/default.pug

block variables
  - const bodyClass = "page-detail"
  - const pageTitle = "Детальная страница"
  - const siteLang = "ru"
  - isGreyHeader = true
  - isGreyFooter = true

block content
  include pages/detail-page/index
