section.projects-filter
  .site-container
    form.projects-filter__container
      +ui-tab({
        content: 'Все',
        isChecked: true
      }).projects-filter__item
      +ui-tab({
        content: 'Образование и наука'
      }).projects-filter__item
      +ui-tab({
        content: 'Какой-то текст2'
      }).projects-filter__item
      +ui-tab({
        content: 'Здравоохранение и спорт'
      }).projects-filter__item
      +ui-tab({
        content: 'Люди'
      }).projects-filter__item
      +ui-tab({
        content: 'Культура'
      }).projects-filter__item
      +ui-tab({
        content: 'Развитие территорий и экология'
      }).projects-filter__item
      +ui-tab({
        content: 'Инклюзия'
      }).projects-filter__item
