section.section.projects-intro__container
  .site-container
    .projects-intro
      .projects-intro__info
        h1.projects-intro__heading
          | Каждый наш проект — это уникальная #[br]
          span
            | история добра
          |&nbsp;
          .projects-intro__heading-imgs
            img(src="assets/images/smile.svg")
            img(src="assets/images/heart.svg")
        p.projects-intro__text
          | С 2016 года мы поддержали более 1326 проектов. Погрузитесь в истории наших инициатив,
          | узнайте, как они изменяют жизни людей и способствуют росту нашего общества.
          | Давайте делать мир ярче и добрее вместе!
      .projects-intro__sliders
        .swiper.projects-intro__slider(data-center='true')
          .swiper-wrapper
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img1.jpg')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img2.png')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img3.jpg')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img4.jpg')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img5.jpg')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img6.jpg')
        .swiper.projects-intro__slider(dir="rtl")
          .swiper-wrapper
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img6.jpg')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img5.png')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img4.jpg')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img3.jpg')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img2.jpg')
            .swiper-slide.projects-intro__slide
              +pictureLazy('projects/slider-img1.jpg')

