section.care
  .site-container
    .care__container
      h2.care__heading
        | С заботой о людях

      .care__ticker.js-ticker
        .care__ticker-track.js-ticker-track
          .care__ticker-inner-track.js-ticker-inner-track
            .care__slide-box
              +picture('index/care-img1.jpg').care__slide
            .care__slide-box
              +picture('index/care-img2.jpg').care__slide
            .care__slide-box
              +picture('index/care-img3.jpg').care__slide
            .care__slide-box.care__slide-box--small-radius
              +picture('index/care-img4.jpg').care__slide.care__slide--small-radius
            .care__slide-box
              +picture('index/care-img5.jpg').care__slide
          
     
      .care__info
        h3.care__inner-heading
          | Главное это люди
        .care__info-row 
          p.care__text
            | Наш подход строится на открытом диалоге с местным сообществом
            | и заинтересованными сторонами. Мы работаем в партнерстве
            | с муниципальными властями, реализуя проекты по улучшению
            | инфраструктуры городов и поселков наших регионов.
          p.care__text
            | Кроме того, мы активно участвуем в строительстве социально
            | значимых объектов, организации культурных мероприятий, помогаем
            | представителям здравооохранения и просто неравнодушным гражданам.

          +ui-button({
            label: 'Подробнее о гранте',
            href: './',
            type: 'default-outline'
          }).care__info-btn
