section.intro-video
  .site-container
    .intro-video__container
      video(autoplay="autoplay" loop="loop" muted="muted" playsinline class="intro-video__bg")
        source(src="https://www.tatneft.ru/video/main_preview.mp4")
