section.mission
  .site-container
    .mission__container
      .mission__map
        +imgLazy('assets/images/tatarstan.png').mission__map-bg
      .mission__legend
        | Миссия нашего фонда
      .mission__info
        h2.mission__heading
          | Мы поддерживаем проекты, направленные на развитие нашего региона,
          | и прилагаем все усилия для улучшения качества жизни людей.
        .mission__boxes
          .mission__box
            .mission__box-label
              | 1326
            .mission__box-txt
              | проектов поддержано нашим фондом
          .mission__box
            .mission__box-label.mission__box-label--variant--plus
              | 8150
            .mission__box-txt
              | людей получили помощь от нашего фонда
