section.mission
  .site-container
    .mission__container
      .mission__map
        +pictureLazy('index/map.png').mission__map-bg
        .mission__map-item(style="bottom: 10%; left: 10%")
          +pictureLazy('index/map-item.png')
        .mission__map-item(style="bottom: 40%; left: 45%")
          +pictureLazy('index/map-item1.png')
      .mission__legend
        | Миссия нашего фонда
      .mission__info
        h2.mission__heading
          | Мы поддерживаем проекты, направленные на развитие нашего региона,
          | и прилагаем все усилия для улучшения качества жизни людей.
        .mission__boxes
          .mission__box
            .mission__box-label
              | 1326
            .mission__box-txt
              | проектов поддержано нашим фондом
          .mission__box
            .mission__box-label
              | 8150
            .mission__box-txt
              | людей получили помощь от нашего фонда
