.care {
  margin-bottom: var(--grid-offset);

  &__container {
    border-radius: 4.8rem;
    padding: 4.8rem;
    background-color: var(--color-green);
    color: var(--color-white);
    min-height: 77.2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url("../images/bg-green-care.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mq(md) {
      padding: 2rem;
      border-radius: 3.2rem;
    }

    @include mq(sm) {
      min-height: 0;
    }
  }

  &__slider {
    margin: 0 0 3rem;
    overflow: visible;

    .swiper-wrapper{
      transition-timing-function : linear;
    }
  }

  &__slide-box {
    border-radius: 99.9rem;
    overflow: hidden;
    width: auto;

    picture {
      display: block;
    }
  }

  &__slide {
    width: auto;
    height: 31.4rem;
    object-fit: contain;
    border-radius: 99.9rem;

    @include mq(sm) {
      height: 12.4rem;
    }
  }

  &__heading {
    font: var(--font-h2);
    margin-bottom: 5.6rem;

    @include mq(md) {
      font: var(--font-text-40);
    }

    @include mq(sm) {
      font: var(--font-h1);
      margin-bottom: 3.2rem;
    }
  }

  &__info {
    margin-top: auto;
    display: flex;
    gap: 3.2rem;

    @include mq(lg) {
      flex-direction: column;
    }

    @include mq(sm) {
      gap: 2rem;
    }
  }

  &__text {
    max-width: 54rem;

    &:nth-of-type(2) {
      max-width: 44rem;

      @include mq(lg) {
        max-width: 100%;
      }
    }

    @include mq(lg) {
      max-width: 100%;
    }

    @include mq(sm) {
      font: var(--font-text-13);
    }
  }

  &__info-btn {
    margin-left: auto;
    align-self: flex-end;

    @include mq(lg) {
      margin-left: 0;
      align-self: flex-start;
    }

    @include mq(sm) {
      margin-top: 3rem;
    }
  }
}
