.got-an-idea {
  margin-bottom: var(--grid-offset);

  &__container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: var(--grid-offset);
    background-color: var(--color-green);
    border-radius: 4.8rem;
    padding: 4.8rem;
    color: var(--color-white);
    flex-grow: 1;
    height: 59.4rem;
    background-image: url("../images/index/idea-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq(sm) {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      height: auto;
    }

    @include mq(sm) {
      padding: 2rem;
      border-radius: 3.2rem;
    }
  }

  &__heading {
    font: var(--font-h1);

    span,
    b,
    strong {
      color: var(--color-white-alpha50);
    }

    @include mq(sm) {
      margin-bottom: 3rem;

      br {
        display: none;
      }
    }

    @include mq(sm) {
      font: var(--font-h2);
    }

    @include mq(sm) {
      font: var(--font-h1);
      margin-bottom: 3.2rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__imgs {
    margin-top: auto;
    display: flex;
    gap: var(--grid-offset);
  }

  &__img {
    height: 22rem;
    width: auto;
    object-fit: cover;
    border-radius: 90rem;

    @include mq(sm) {
      height: 12.4rem;
      border-radius: 99.9rem;
    }
  }

  &__small-heading {
    font: var(--font-h4);
    margin-bottom: 2.4rem;
    max-width: 42.1rem;

    @include mq(sm) {
      max-width: 100%;
    }

    @include mq(sm) {
      margin-bottom: 1.8rem;
    }
  }

  &__text {
    margin-bottom: 2rem;
    max-width: 44.8rem;

    @include mq(sm) {
      max-width: 70%;
    }

    @include mq(sm) {
      max-width: 100%;
    }

    a {
      color: var(--color-bright-green);

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-bottom: 0.6rem;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

  &__btn {
    align-self: flex-start;
    margin-top: auto;

    @include mq(sm) {
      margin-top: 4rem;
    }

    @include mq(sm) {
      margin-top: 5rem;
    }
  }
}
