.intro-video {
  position: relative;
  margin-bottom: var(--grid-offset);

  &__container {
    position: relative;
    height: 70rem;
    border-radius: 4.8rem;
    background-color: var(--color-white);
    overflow: hidden;
  }

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
