.mission {
  margin-bottom: var(--grid-offset);

  &__container {
    position: relative;
    z-index: 1;
    border-radius: 4.8rem;
    padding: 6.4rem  7.2rem;
    display: flex;
    background-color: var(--color-light-grey);

    @include mq(lg) {
      flex-direction: column-reverse;
      padding: 0;
    }

    @include mq(md) {
      border-radius: 3.2rem;
    }
  }

  &__legend {
    position: absolute;
    z-index: 1;
    top: 6.4rem;
    left: 7.2rem;
    font: var(--font-descriptor);
    text-transform: uppercase;

    @include mq(md) {
      top: 2.4rem;
      left: 2rem;
    }
  }

  &__info {
    margin-left: auto;
    max-width: 65.2rem;

    @include mq(lg) {
      margin-left: 0;
      max-width: 100%;
      padding: 12rem 7.2rem 6.4rem;
    }

    @include mq(md) {
      padding: 7.8rem 2rem 3.2rem;
    }
  }

  &__heading {
    font: var(--font-text-40);
    margin-bottom: 4rem;

    @include mq(sm) {
      font: var(--font-text-18book);
    }
  }

  &__boxes {
    display: flex;
    gap: var(--grid-offset);
  }

  &__box {
    border-radius: 2.4rem;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 2.4rem 3.2rem;

    @include mq(lg) {
      width: 50%;
    }

    @include mq(sm) {
      border-radius: 1.6rem;
      padding: 1.6rem;
    }
  }

  &__box-label {
    font: var(--font-nums40);
    margin-bottom: 3.2rem;

    @include mq(sm) {
      font: var(--font-nums20);
      margin-bottom: 2.8rem;
    }
  }

  &__box-txt {
    font: var(--font-caption);
    color: var(--color-dark-grey);

    @include mq(sm) {
      font: var(--font-text-10reg);
    }
  }

  &__map {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 94.5rem;
    height: 47.9rem;

    picture {
      display: block;
    }

    @include mq(lg) {
      position: relative;
      align-self: center;
    }

    @include mq(md) {
      width: 100%;
      height: auto;
    }
  }

  &__map-bg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__map-item {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 24rem;
    height: 18.7rem;

    &::before {
      position: absolute;
      left: 50%;
      bottom: -2rem;
      width: 3rem;
      height: 1rem;
      background-image: url("../images/index/pin.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: translateX(-50%);
      content: "";

      @include mq(sm) {
        width: 1.9rem;
        height: 0.6rem;
        bottom: -0.7rem;
      }
    }

    picture {
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include mq(sm) {
      width: 11.9rem;
      height: 9.3rem;
    }
  }
}
