.error {
  height: calc(100vh - (var(--header-height) + 1.6rem + var(--grid-offset)));
  display: flex;
  flex-direction: column;

  .site-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__container {
    background-color: var(--color-green);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4.8rem;
    background-image: url("../images/bg-error.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    margin: 0 0 var(--grid-offset) 0;
    padding: 2rem;

    @include mq(sm) {
      background-image: url("../images/bg-error-mobile.png");
      border-radius: 3.2rem;
    }
  }

  &__heading {
    font: 300 24rem/1 var(--main-ff);
    letter-spacing: -2%;
    margin-bottom: 3.2rem;

    @include mq(sm) {
      font: 300 10rem/1 var(--main-ff);
      margin-bottom: 2rem;
    }
  }

  &__text {
    font: var(--font-text-body);
    max-width: 48.2rem;
    margin-bottom: 4rem;
    text-align: center;

    @include mq(sm) {
      margin-bottom: 4.8rem;
    }
  }
}
