.detail-page-about {
  padding: 6.4rem 7.2rem;
  border-radius: 4.8rem;
  background-color: var(--color-light-grey);
  margin-top: var(--grid-offset);
  margin-bottom: var(--grid-offset);

  @include mq(md) {
    padding: 2rem;
    border-radius: 3.2rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: var(--grid-offset);
    margin-bottom: 8rem;

    @include mq(lg) {
      display: block;
    }

    @include mq(sm) {
      margin-bottom: 2.7rem;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font: var(--font-text-18reg);
    align-self: flex-start;

    &::before {
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--color-green);
      content: '';
    }

    @include mq(lg) {
      margin-bottom: 6rem;
    }
  }

  &__text {
    font: var(--font-text-34);

    span, b, strong {
      color: var(--color-green);
    }

    @include mq(md) {
      font: var(--font-text-26);
    }

    @include mq(sm) {
      font: var(--font-text-19);
    }
  }

  &__boxes {
    display: flex;
    gap: var(--grid-offset);

    @include mq(md) {
      flex-direction: column;
    }
  }

  &__box-column {
    width: calc(20%);
    display: flex;
    flex-direction: column;
    gap: var(--grid-offset);

    &--direction--down {
      justify-content: flex-end;
    }

    @include mq(lg) {
      width: calc(25%);

      &:nth-child(1) {
        display: none;
      }
    }

    @include mq(md) {
      width: 100%;
    }
  }

  &__box {
    width: 100%;
    height: 22rem;
    border-radius: 2.4rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    color: var(--color-black);

    picture {
      display: block;
    }

    &--variant {
      &--is-image {
        align-items: center;
        justify-content: center;
      }

      &--is-green {
        background-color: var(--color-green);
        color: var(--color-white);
        background-image: url("../images/box-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      &--is-black {
        background-color: var(--color-brown);
        color: var(--color-white);
      }
    }

    @include mq(md) {
      border-radius: 1.6rem;
      padding: 2rem;
    }

    @include mq(sm) {
      height: 13rem;
    }
  }

  &__box-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: var(--font-text-14);
    opacity: 0.6;
    margin-bottom: auto;
  }

  &__box-icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: none;
    stroke: currentColor;
  }

  &__box-heading {
    font: var(--font-text-24);
  }
}
