.read-more {
  margin-bottom: var(--grid-offset);

  &__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__heading {
    font: var(--font-h5);
    @include mq(sm) {
      padding-left: 1.9rem;
    }
  }

  &__nav {
    .ui-slider-nav__btn {
      border: 1px solid var(--color-brown-alpha15);
      color: var(--color-brown);

      &:hover {
        color: var(--color-green);
      }
    }

    @include mq(sm) {
      display: none;
    }
  }
}
